.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-container {
  background-color: #1f1f2e;
  border-radius: 12px;
  padding: 20px;
  width: 500px;
  color: white;
}

.question-section {
  margin-bottom: 20px;
}

.answer-section {
  display: flex;
  flex-direction: column;
}

.option-button {
  background-color: #203db1;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.option-button.correct {
  background-color: #4caf50;
}

.option-button.incorrect {
  background-color: #f44336;
}

.nav-button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #0f0b67;
  color: white;
}
